# ***Creating a new DataFrame with non numeric values***

In [1]:
import psycopg2
import pandas as pd
import numpy as np

<img src="./database_tables.png" style="width:500px;height:400px;">

### **Conecting to the database**

In [3]:
conection = psycopg2.connect(host = 'localhost', database = 'ClientesWBK', user = 'postgres', password = 'VaioMassato201301#', port = 5432)

### **Cursors and Querys**

In [4]:
cursor_clients = conection.cursor()
cursor_credits = conection.cursor()
cursor_jobs = conection.cursor()
cursor_marital_state = conection.cursor()
cursor_fiador = conection.cursor()
cursor_housing = conection.cursor()
cursor_history_credits = conection.cursor()
cursor_investments = conection.cursor()
cursor_otherfinanc = conection.cursor()
cursor_profession = conection.cursor()
cursor_purpose = conection.cursor()

query_clients = 'select * from clientes'
query_credits = 'select * from credito'
query_jobs = 'select * from emprego'
query_marital_state = 'select * from estadocivil'
query_fiador = 'select * from fiador'
query_housing = 'select * from habitacao'
query_history_credits = 'select * from historico_credito'
query_investments = 'select * from investimentos'
query_otherfinanc = 'select * from outrosfinanc'
query_profession = 'select * from profissao'
query_purpose = 'select * from proposito'

cursor_clients.execute(query_clients)
cursor_credits.execute(query_credits)
cursor_jobs.execute(query_jobs)
cursor_marital_state.execute(query_marital_state)
cursor_fiador.execute(query_fiador)
cursor_housing.execute(query_housing)
cursor_history_credits.execute(query_history_credits)
cursor_investments.execute(query_investments)
cursor_otherfinanc.execute(query_otherfinanc)
cursor_profession.execute(query_profession)
cursor_purpose.execute(query_purpose)

### **Records**

In [5]:
# Training data
records_clients = cursor_clients.fetchall()
records_credits = cursor_credits.fetchall()

# Testing data
records_jobs = cursor_jobs.fetchall()
records_marital_state = cursor_marital_state.fetchall()
records_fiador = cursor_fiador.fetchall()
records_housing = cursor_housing.fetchall()
records_history_credits = cursor_history_credits.fetchall()
records_investments = cursor_investments.fetchall()
records_otherfinanc = cursor_otherfinanc.fetchall()
records_profession = cursor_profession.fetchall()
records_purpose = cursor_purpose.fetchall()

CREDIT HISTORY
* 1 - Critico-outros creditos
* 2 - existentes/pagos
* 3 - Atrasos anteriores
* 4 - sem creditos/todos pagos
* 5 - todos pagos

PURPOSE
* 1 - reforma
* 2 - educacao
* 3 - moveis
* 4 - veiculo novo
* 5 - veiculo usado
* 6 - abrir negocio
* 7 - quitar divida
* 8 - reforma cas
* 9 - outros
* 10 - qualificacao

INVESTMENTS   
* 1 - Desconhecido
* 2 - <100
* 3 - 500<=X<1000
* 4 - >=1000
* 5 - 100<=X<500

JOB
* 1 - <1
* 2 - >=7
* 3 - 1<=X<4
* 4 - 4<=X<7
* 5 - Desempregado

MARITAL STATE 
* 1 - feminino div/dep/cas
* 2 - maculino div/dep
* 3 - masculino cas/viu
* 4 - masculino solteiro

FIADOR
* 1 - co aplicante
* 2 - co requerente
* 3 - nao
* 4 - sim

OTHER FINACES
* 1 - banc
* 2 - loja
* 3 - nenhum

HOUSING
* 1 - propri
* 2 - de graca
* 3 - alugada

PROFESSION
* 1 - altamente qualificado/empresari
* 2 - desempregad
* 3 - nao qualificado
* 4 - qualificado

### **Transforming numerical values into object**

In [24]:
df = pd.read_csv('./WBKClientsTreated.csv')
df.head()

,Client,State,Sex,Purpose,Value,Investment,Job,InstallmentTime,MaritalState,Fiador,EesidenceSince,Age,OtherFinance,Housing,ExistingLoan,Profession,Dependents,SocioCompany,Foreign,Status
0,Adelina Buenaventura,RJ,M,2,1,5951,2,3.0,2,1,3,2.0,22,3,1.0,1,4,1,0,0
1,Adelino Gago,RJ,M,1,2,2096,2,4.0,2,4,3,3.0,49,3,1.0,1,3,2,0,0
2,Adélio Lisboa,SE,M,2,3,7882,2,4.0,2,4,4,4.0,45,3,2.0,1,4,2,0,0
3,Adérito Bahía,MA,M,3,4,4870,2,3.0,3,4,3,4.0,53,3,2.0,2,4,2,0,0
4,Adolfo Patrício,PE,M,2,2,9055,1,3.0,2,4,3,4.0,35,3,2.0,1,3,2,1,0

In [32]:
uniques = np.unique(df['Investment'])
uniques

array([  338,   339,   392,   409,   426,   433,   458,   571,   618,
         625,   639,   666,   674,   682,   701,   707,   709,   717,
         730,   763,   766,   781,   797,   860,   884,   902,   909,
         915,   932,   936,   950,   951,  1007,  1055,  1108,  1131,
        1158,  1164,  1168,  1169,  1175,  1185,  1199,  1200,  1204,
        1213,  1225,  1240,  1258,  1262,  1264,  1282,  1288,  1291,
        1295,  1346,  1352,  1360,  1364,  1374,  1382,  1391,  1393,
        1409,  1410,  1412,  1413,  1414,  1424,  1449,  1469,  1474,
        1478,  1495,  1501,  1526,  1537,  1544,  1567,  1568,  1577,
        1582,  1595,  1647,  1680,  1755,  1768,  1804,  1819,  1823,
        1835,  1860,  1881,  1898,  1908,  1913,  1919,  1924,  1925,
        1935,  1953,  1961,  1963,  1984,  2012,  2030,  2064,  2069,
        2073,  2096,  2100,  2108,  2121,  2132,  2134,  2149,  2150,
        2171,  2225,  2241,  2249,  2251,  2288,  2299,  2315,  2323,
        2333,  2337,  2366,  2394,  2415,  2424,  2445,  2462,  2507,
        2522,  2577,  2613,  2622,  2647,  2684,  2708,  2728,  2767,
        2835,  2872,  2978,  3021,  3031,  3059,  3074,  3104,  3149,
        3181,  3244,  3342,  3378,  3414,  3416,  3430,  3447,  3499,
        3512,  3566,  3578,  3617,  3777,  3812,  3832,  3835,  3844,
        3868,  3913,  3915,  3965,  3972,  4020,  4151,  4210,  4281,
        4308,  4455,  4591,  4605,  4657,  4746,  4771,  4795,  4870,
        5117,  5129,  5190,  5234,  5293,  5371,  5848,  5866,  5943,
        5951,  5954,  5965,  6078,  6110,  6187,  6204,  6229,  6260,
        6458,  6468,  6568,  6836,  6887,  6948,  6967,  7057,  7174,
        7228,  7308,  7418,  7485,  7721,  7758,  7855,  7865,  7882,
        8072,  8133,  8487,  8613,  9055,  9436,  9566,  9572, 10144,
       10623, 10961, 11938, 12579, 12612, 14421, 14555, 15945],
      dtype=int64)

In [27]:
# PURPOSE
df.loc[df['Purpose'] == 0, 'Purpose'] = 'reforma'
df.loc[df['Purpose'] == 1, 'Purpose'] = 'educacao'
df.loc[df['Purpose'] == 2, 'Purpose'] = 'moveis'
df.loc[df['Purpose'] == 3, 'Purpose'] = 'veiculo novo'
df.loc[df['Purpose'] == 4, 'Purpose'] = 'veiculo usado'
df.loc[df['Purpose'] == 5, 'Purpose'] = 'abrir negocio'

# CREDIT HISTORY
df.loc[df['Investment'] == 0, 'Investment'] = 'reforma'