# ***Creating a new DataFrame with non numeric values***

In [59]:
import psycopg2
import pandas as pd
import numpy as np

<img src="./database_tables.png" style="width:500px;height:400px;">

### **Conecting to the database**

In [60]:
conection = psycopg2.connect(host = 'localhost', database = 'ClientesWBK', user = 'postgres', password = 'SenhaSQL', port = 5432)

### **Cursors and Querys**

In [61]:
cursor_clients = conection.cursor()
cursor_credits = conection.cursor()
cursor_jobs = conection.cursor()
cursor_marital_state = conection.cursor()
cursor_fiador = conection.cursor()
cursor_housing = conection.cursor()
cursor_history_credits = conection.cursor()
cursor_investments = conection.cursor()
cursor_otherfinanc = conection.cursor()
cursor_profession = conection.cursor()
cursor_purpose = conection.cursor()

query_clients = 'select * from clientes'
query_credits = 'select * from credito'
query_jobs = 'select * from emprego'
query_marital_state = 'select * from estadocivil'
query_fiador = 'select * from fiador'
query_housing = 'select * from habitacao'
query_history_credits = 'select * from historico_credito'
query_investments = 'select * from investimentos'
query_otherfinanc = 'select * from outrosfinanc'
query_profession = 'select * from profissao'
query_purpose = 'select * from proposito'

cursor_clients.execute(query_clients)
cursor_credits.execute(query_credits)
cursor_jobs.execute(query_jobs)
cursor_marital_state.execute(query_marital_state)
cursor_fiador.execute(query_fiador)
cursor_housing.execute(query_housing)
cursor_history_credits.execute(query_history_credits)
cursor_investments.execute(query_investments)
cursor_otherfinanc.execute(query_otherfinanc)
cursor_profession.execute(query_profession)
cursor_purpose.execute(query_purpose)

### **Records**

In [62]:
# Training data
records_clients = cursor_clients.fetchall()
records_credits = cursor_credits.fetchall()

# Testing data
records_jobs = cursor_jobs.fetchall()
records_marital_state = cursor_marital_state.fetchall()
records_fiador = cursor_fiador.fetchall()
records_housing = cursor_housing.fetchall()
records_history_credits = cursor_history_credits.fetchall()
records_investments = cursor_investments.fetchall()
records_otherfinanc = cursor_otherfinanc.fetchall()
records_profession = cursor_profession.fetchall()
records_purpose = cursor_purpose.fetchall()

CREDIT HISTORY
* 1 - Critico-outros creditos
* 2 - existentes/pagos
* 3 - Atrasos anteriores
* 4 - sem creditos/todos pagos
* 5 - todos pagos

PURPOSE
* 1 - reforma
* 2 - educacao
* 3 - moveis
* 4 - veiculo novo
* 5 - veiculo usado
* 6 - abrir negocio
* 7 - quitar divida
* 8 - reforma cas
* 9 - outros
* 10 - qualificacao

INVESTMENTS   
* 1 - Desconhecido
* 2 - <100
* 3 - 500<=X<1000
* 4 - >=1000
* 5 - 100<=X<500

JOB
* 1 - <1
* 2 - >=7
* 3 - 1<=X<4
* 4 - 4<=X<7
* 5 - Desempregado

MARITAL STATE 
* 1 - feminino div/dep/cas
* 2 - maculino div/dep
* 3 - masculino cas/viu
* 4 - masculino solteiro

FIADOR
* 1 - co aplicante
* 2 - co requerente
* 3 - nao
* 4 - sim

OTHER FINACES
* 1 - banc
* 2 - loja
* 3 - nenhum

HOUSING
* 1 - propri
* 2 - de graca
* 3 - alugada

PROFESSION
* 1 - altamente qualificado/empresari
* 2 - desempregad
* 3 - nao qualificado
* 4 - qualificado

### **Transforming numerical values into object**

In [63]:
df = pd.read_csv('./WBKClientsTreated.csv')
df.head()

,Cliente,Estado,Sexo,Duracao,HistoricoCredito,Proposito,Valor,Investimento,Emprego,TempoParcelamento,...,ResidenciaDesde,Idade,OutrosFinanciamentos,Habitacao,EmprestimoExistente,Profissao,Dependentes,SocioEmpresa,Estrangeiro,Status
0,Adelina Buenaventura,RJ,M,2,Adelina Buenaventura,2,1,5951,2,3.0,...,3,2.0,22,3,1.0,1,4,1,0,0
1,Adelino Gago,RJ,M,3,Adelino Gago,1,2,2096,2,4.0,...,3,3.0,49,3,1.0,1,3,2,0,0
2,Adélio Lisboa,SE,M,4,Adélio Lisboa,2,3,7882,2,4.0,...,4,4.0,45,3,2.0,1,4,2,0,0
3,Adérito Bahía,MA,M,5,Adérito Bahía,3,4,4870,2,3.0,...,3,4.0,53,3,2.0,2,4,2,0,0
4,Adolfo Patrício,PE,M,6,Adolfo Patrício,2,2,9055,1,3.0,...,3,4.0,35,3,2.0,1,3,2,1,0

In [64]:
# PURPOSE
df.loc[df['Proposito'] == 0, 'Proposito'] = 'reforma'
df.loc[df['Proposito'] == 1, 'Proposito'] = 'educacao'
df.loc[df['Proposito'] == 2, 'Proposito'] = 'moveis'
df.loc[df['Proposito'] == 3, 'Proposito'] = 'veiculo novo'
df.loc[df['Proposito'] == 4, 'Proposito'] = 'veiculo usado'
df.loc[df['Proposito'] == 5, 'Proposito'] = 'abrir negocio'

# JOB
df.loc[df['Emprego'] == 1, 'Emprego'] = '<1'
df.loc[df['Emprego'] == 2, 'Emprego'] = '>=7'
df.loc[df['Emprego'] == 3, 'Emprego'] = '1<=X<4'
df.loc[df['Emprego'] == 4, 'Emprego'] = '4<=X<7'
df.loc[df['Emprego'] == 5, 'Emprego'] = 'Desempregado'

# MARITAL STATE
df.loc[df['EstadoCivil'] == 1, 'EstadoCivil'] = 'feminino div/dep/cas'
df.loc[df['EstadoCivil'] == 2, 'EstadoCivil'] = 'maculino div/dep'
df.loc[df['EstadoCivil'] == 3, 'EstadoCivil'] = 'masculino cas/viu'
df.loc[df['EstadoCivil'] == 4, 'EstadoCivil'] = 'masculino solteiro'

# FIADOR
df.loc[df['Fiador'] == 1, 'Fiador'] = 'co aplicante'
df.loc[df['Fiador'] == 2, 'Fiador'] = 'co requerente'
df.loc[df['Fiador'] == 3, 'Fiador'] = 'nao'
df.loc[df['Fiador'] == 4, 'Fiador'] = 'sim'

# HOUSING
df.loc[df['Habitacao'] == 1, 'Habitacao'] = 'propria'
df.loc[df['Habitacao'] == 2, 'Habitacao'] = 'de graca'
df.loc[df['Habitacao'] == 3, 'Habitacao'] = 'alugada'

# PROFESSION
df.loc[df['Profissao'] == 1, 'Profissao'] = 'altamente qualificado/empresario'
df.loc[df['Profissao'] == 2, 'Profissao'] = 'desempregado'
df.loc[df['Profissao'] == 3, 'Profissao'] = 'nao qualificado'
df.loc[df['Profissao'] == 4, 'Profissao'] = 'qualificado'

# STATUS
df.loc[df['Status'] == 0, 'Status'] = 'leal'
df.loc[df['Status'] == 1, 'Status'] = 'inadimplente'

In [65]:
df.head()

,Cliente,Estado,Sexo,Duracao,HistoricoCredito,Proposito,Valor,Investimento,Emprego,TempoParcelamento,...,ResidenciaDesde,Idade,OutrosFinanciamentos,Habitacao,EmprestimoExistente,Profissao,Dependentes,SocioEmpresa,Estrangeiro,Status
0,Adelina Buenaventura,RJ,M,2,Adelina Buenaventura,moveis,1,5951,>=7,3.0,...,3,2.0,22,alugada,1.0,altamente qualificado/empresario,4,1,0,leal
1,Adelino Gago,RJ,M,3,Adelino Gago,educacao,2,2096,>=7,4.0,...,3,3.0,49,alugada,1.0,altamente qualificado/empresario,3,2,0,leal
2,Adélio Lisboa,SE,M,4,Adélio Lisboa,moveis,3,7882,>=7,4.0,...,4,4.0,45,alugada,2.0,altamente qualificado/empresario,4,2,0,leal
3,Adérito Bahía,MA,M,5,Adérito Bahía,veiculo novo,4,4870,>=7,3.0,...,3,4.0,53,alugada,2.0,desempregado,4,2,0,leal
4,Adolfo Patrício,PE,M,6,Adolfo Patrício,moveis,2,9055,<1,3.0,...,3,4.0,35,alugada,2.0,altamente qualificado/empresario,3,2,1,leal

In [66]:
# df.to_csv('..\\scripts\\WBKCnonNumeric.csv', index = False)

### **Ending conection**

In [67]:
conection.close()